@import "tailwindcss";

@theme {
  --color-gold: #d4af37;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply font-serif overflow-x-hidden;
  }
  body.theme-dark {
    background: #18181a;
    color: #f3f3f3;
  }
  body.theme-light {
    background: #fff;
    color: #222;
  }
  
  /* Esconder scrollbar mas manter funcionalidade */
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  /* Bloqueia seleção, arrastar e clique direito em imagens */
  img {
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
  }
}
