@import "tailwindcss";

@theme {
  --color-gold: #d4af37;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-black text-gray-100 font-serif overflow-x-hidden;
  }
  
  /* Esconder scrollbar mas manter funcionalidade */
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
